.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282828;
    color: white;
}

.sing-up-form {
    width: 1110px;
    height: 538px;
    border: 3px solid #C4C4C4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


.img-grape {
    position: absolute;
    top: -69px;
    left: -30px;
}

.img-barrel {
    position: absolute;
    top: -65px;
    right: -53px;
}

h1 {
    width: 350px;
    display: block;
    position: absolute;
    top: -12%;
    left: 30%;
    text-align: center;
    padding: 10px 50px;
    background-color: #282828;
    z-index: 1;
    
    font-size: 36px;
    line-height: 150%;
}

h1::after {
    border-bottom: 2px solid white;
    width: 118px;
    content: '';
    position: absolute;
    bottom: -35%;
    left: 38%;
}


p {
    width: 539px;
    height: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    position: absolute;
    top: 20%;
    
}

.row {
    width: 540px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 200px;
    
}

.main {
    width: 540px;
    display: flex;
    flex-direction: column;
}

.info-input {
    width: 254px;
    height: 20px;
    appearance: none;
    background-color: #282828;
    color: white;
    border: none;
    border-bottom: 1px solid #FFFFFF;
}

.adress-input {
  appearance: none;
  width: 100%;
  height: 20px;
  margin-top: 50px;
  background-color: #282828;
  color: white;
  border: none;
  border-bottom: 1px solid #FFFFFF;

}

.btn {
    width: 100%;
    margin-top: 50px;
    background-color: #282828;
    color: white;
    border: 1px solid white;
    padding: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

}


@media screen and (min-width: 576px) and (max-width: 767px) {
        
    .sing-up-form {
            border: none;
    }

    .img-grape {
            display: none;
    }

    .img-barrel {
            display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    
    .sing-up-form {
        border: none;
    }

    .img-grape {
        width: 180px;
        height: 200px;  
        top: -80px;
        left: 200px; 
        z-index: 2;
    }

    .img-barrel {
        width: 200px;
        height: 150px;
        right: 172px;
        top: -60px;
        z-index: 2;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    
    .sing-up-form {
        border: none;
    }

    .img-grape {
        width: 250px;
        height: 250px;
        left: 80px;
        top: -130px;
    }

    .img-barrel {
        width: 250px;
        height: 180px;
        right: 70px;
        top: -90px
    }

}